@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Serif', serif;
}

h1{
    text-align: center;
    font-weight: bold;
}

p{
    text-align: center;
    font-size: xx-large;
}

button{
    font-weight: bold;
}

#flex{
    display: flex;
    justify-content: center;
}

#value{
    background-color: #cbcbcb;
    padding: 0.5em;
    border-radius: 10%;
    color: #e80000;
    font-weight: bold;
    font-family: monospace;
}
